.Hash-Table-App .App-buttons {
  display: inline-block;
  margin: 20px 0px;
  padding: 0; }

.Hash-Table-App .App-buttons button {
  margin: 0 5px;
  font-size: 0.8em; }

.Hash-Table-App .App-buttons .pull-left {
  float: left; }

.Hash-Table-App .App-buttons input {
  margin-right: 20px;
  padding-left: 5px; }

.Hash-Table-App .App-buttons #size-new {
  width: 50px; }

.Hash-Table-App .App-buttons #add-content {
  width: 30%; }

.Hash-Table-App .App-buttons #find {
  width: 39%; }

.Hash-Table-App .App-buttons #erase {
  width: 8%; }

.Hash-Table-App .App-canvas {
  height: calc(100vh - 245px);
  overflow-x: auto; }

.Hash-Table-App .App-canvas .content {
  width: auto;
  height: 100%;
  padding-bottom: 20px; }

.Hash-Table-App .App-canvas .content .dLlist {
  position: relative;
  margin: 140px 50px 0;
  display: inline-flex; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode {
  height: 40px;
  float: left;
  padding: 0;
  width: 100px;
  border: 1px solid #535252;
  position: relative;
  margin-left: 35px; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode .arrow {
  margin-top: 6px;
  position: absolute;
  float: left;
  left: -35px;
  font-size: 15px; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode .arrow.left-arrow {
  top: 8px; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode .arrow.arrow.right-arrow {
  top: -6px; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode.found {
  border: 2px solid orangered;
  background: #f3f3d0; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode.found .value {
  border-right: 2px solid orangered; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode.header {
  margin-left: 59px; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode .value {
  float: left;
  width: 80px;
  border-right: 1px solid #535252;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  padding: 8px;
  text-align: left; }

.Hash-Table-App .App-canvas .content .dLlist .dllistnode .next {
  width: 20px;
  float: left; }

.Hash-Table-App .operation-time {
  position: absolute;
  bottom: 50px;
  left: 20px; }
