$table-border: 1px solid #535252;
.Hash-Table-App {
  & .App-buttons {
    display: inline-block;
    margin: 20px 0px;
    padding: 0;
    & button {
      margin: 0 5px;
      font-size: 0.8em;
    }
    & .pull-left {
      float: left;
    }
    & input {
      margin-right: 20px;
      padding-left: 5px;
    }
    & #size-new {
      width: 50px;
    }
    & #add-content {
      width: 30%;
    }
    & #find {
      width: 39%;
    }
    & #erase {
      width: 8%;
    }
  }
  & .App-canvas {
    height: calc(100vh - 245px);
    overflow-x: auto;
    & .content {
      width: auto;
      height: 100%;
      padding-bottom: 20px;

      & .dLlist {
        position: relative;
        margin: 140px 50px 0;
        display: inline-flex;
        & .dllistnode {
          height: 40px;
          float: left;
          padding: 0;
          width: 100px;
          border: $table-border;
          position: relative;
          margin-left: 35px;
          & .arrow {
            margin-top: 6px;
            position: absolute;
            float: left;
            left: -35px;
            font-size: 15px;
            &.left-arrow {
              top: 8px;
            }
            &.arrow.right-arrow {
              top: -6px;
            }
          }
          &.found {
            border: 2px solid orangered;
            background: rgb(243, 243, 208);
          }
          &.found .value {
            border-right: 2px solid orangered;
          }
          &.header {
            margin-left: 59px;
          }
          & .value {
            float: left;
            width: 80px;
            border-right: $table-border;
            height: 38px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
            padding: 8px;
            text-align: left;
          }
          & .next {
            width: 20px;
            float: left;
          }
        }
      }
    }
  }
  & .operation-time {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }
}
